.divprofile{
    background-color:whitesmoke;
    filter: brightness(1.2) invert(.1);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  
  }