*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hihotels{
/* display: flex;
justify-content: center;
margin: 2rem;
padding: 1rem;  */
background-color: rgb(48, 8, 19);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin:15px ;
    padding: 10px;
    border-radius: 100px;
}
.formHotels{
    display: flex;
    justify-content: center;
  /* formHotelstyle={{margin:"30px" ,borderStyle:"solid" ,width:"25%" ,padding:"20px 20px" ,boxShadow:"10px 10px " ,borderRadius:"15px" */
}
.hoteleform{
    border:1px solid gray;
    padding: 2rem;
    box-shadow: 4px 4px 1px gray;
    border-radius: 15px;
}
.formdiv{
    display: flex;
    gap:10px;
    font-weight: bold;
    font-size: larger;
    
}
#select{
    padding: 3px;
    border-radius: 7px;
}
.submittform{
    padding: 6px 10px ;
    border-radius:7px ;
    border: none;
    box-shadow: 2px 2px 2px gray;
    
}
.submittform:hover{
background-color: rgba(48, 8, 19,.8);
color: whitesmoke;
}
.city{
 display:flex;
 justify-content: center;
 margin-top: 20px; 
}
.city h2{
    border-bottom:2px solid gray;
    padding: 8px;
}
#add{
    border:solid gray;
    margin :30px;
    border-radius: 15px;
    padding-right: 30px;
    /* ,margin:"30px 30px" ,borderStyle:"solid" ,borderRadius:"15px" ,paddingRight:"30px" */
}
.hotel_title{
    margin-left: 20px;
    border-bottom:2px solid gray;
    display:flex;
    justify-content: center;
}
.hotel{
    border-bottom:2px solid gray;
    padding-top: 10px;
}
.row_card{
    /* style={{background:"white" ,margin:"10px 1px 10px 30px" ,justifyContent:"initial" }} */
    margin: left 500px;


}
.cards{
    display: flex;
    justify-content:center;
    
}